// 文字截取
@mixin text-overflow() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: normal;
}

//文字换行
@mixin word-break() {
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}

// 文字不换行
@mixin no-wrap() {
    word-break: normal;
    word-wrap: normal;
    white-space: nowrap;
}

//文字限制行数
@mixin ellipsis-lines($lines: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}

//顶部分割线
@mixin setTopLine($c: #e5e5e5) {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid $c;
    background: $c;
    transform: scaleY(0.5);
}

//底部分割线
@mixin setBottomLine($c: #e5e5e5) {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid $c;
    background: $c;
    transform: scaleY(0.5);
}

//左侧分割线
@mixin setLeftLine($c: #e5e5e5) {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-left: 1px solid $c;
    background: $c;
    transform: scaleX(0.5);
}

//右侧分割线
@mixin setRightLine($c: #e5e5e5) {
    content: ' ';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-right: 1px solid $c;
    background: $c;
    transform: scaleX(0.5);
}

// clearfix
@mixin clearfix($extend: true) {
    @if $extend {
        @extend %clearfix;
    } @else {
        &::after,
        &::before {
            content: '';
            display: table;
        }

        &::after {
            clear: both;
        }
    }
}

%clearfix {
    @include clearfix(false);
}
